<div class="card mt-3">
  <div class="card-header">
    <div class="float-left">
      <font color="061A70"> <h4>Atividade</h4></font>
    </div>
    <div class="float-right">
      <button
        type="button"
        class="btn btn-outline-primary"
        (click)="cadastrarTarefa()"
      >
        <i class="bi bi-plus-circle"></i>
      </button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th (click)="ordenar('id')">
            #<span *ngIf="chave == 'id'">{{ reverse ? "▲" : "▼" }}</span>
          </th>
          <th (click)="ordenar('titulo')">
            Titulo
            <span *ngIf="chave == 'titulo'">{{ reverse ? "▲" : "▼" }}</span>
          </th>
          <th (click)="ordenar('descricao')">
            Descrição
            <span *ngIf="chave == 'descricao'">{{ reverse ? "▲" : "▼" }}</span>
          </th>
          <th (click)="ordenar('prioridade')">
            Prioridade
            <span *ngIf="chave == 'prioridade'">{{ reverse ? "▲" : "▼" }}</span>
          </th>
          <th (click)="ordenar('status')">
            Status
            <span *ngIf="chave == 'status'">{{ reverse ? "▲" : "▼" }}</span>
          </th>
          <th (click)="ordenar('dataDeCriacao')">
            Data
            <span *ngIf="chave == 'dataDeCriacao'">{{
              reverse ? "▲" : "▼"
            }}</span>
          </th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let tarefa of tarefasPaginadas | orderBy: chave:reverse;
            index as i
          "
        >
          <td>{{ tarefa.id }}</td>
          <td>{{ tarefa.titulo }}</td>
          <td>{{ tarefa.descricao }}</td>
          <td>{{ tarefa.prioridade }}</td>
          <td>{{ tarefa.status }}</td>
          <td>{{ tarefa.dataDeCriacao }}</td>
          <td>
            <span class="float-right">
              <button
                class="btn btn-outline-warning mb-1 btn-sm"
                (click)="editarTarefa(tarefa)"
              >
                <i class="bi bi-pencil"></i>
              </button>

              <button
                class="deltete btn btn-outline-danger mb-1 btn-sm"
                (click)="deletarTarefa(tarefa)"
              >
                <i class="bi bi-trash"></i>
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
    <pagination
      [totalItems]="tarefas.length"
      [itemsPerPage]="itemsPorPagina"
      [(ngModel)]="paginaAtual"
    >
    </pagination>
    <ng-template #loading>
      <div class="spinner-border text-primary" role="status">
        <span class="sr-only"></span>
      </div>
    </ng-template>
  </div>
</div>
