<div class="modal-header">
  <h4 class="modal-title pull-left">Atividade</h4>
  <button
    type="button"
    class="close pull-right"
    aria-label="Close"
    (click)="bsModalRef.hide()"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form
    class="form-horizontal"
    [formGroup]="this.formulario"
    (ngSubmit)="onSubmit()"
    id="tarefa"
  >
    <div class="form-group">
      <label for="titulo">Titulo</label>
      <input
        type="text"
        class="form-control"
        id="titulo"
        formControlName="titulo"
        placeholder="Titulo"
      />
    </div>
    <div class="form-group">
      <label for="formulario">Descrição</label>
      <input
        type="text"
        class="form-control"
        id="descricao"
        formControlName="descricao"
        placeholder="Descrição da tarefa"
      />
    </div>
    <div class="form-group">
      <label for="formulario">Prioridade</label>
      <select
        class="form-control mb-1"
        id="prioridade"
        formControlName="prioridade"
        name="prioridade"
        for="prioridade"
      >
        <option
          *ngFor="let prioridade of prioridades"
          [ngValue]="prioridade.value"
        >
          {{ prioridade.text }}
        </option>
      </select>
    </div>
    <div class="form-group">
      <label for="formulario">Status</label>
      <select class="form-control mb-1" id="status" formControlName="status">
        <option *ngFor="let status of statusList" [ngValue]="status.value">
          {{ status.text }}
        </option>
      </select>
    </div>

    <div class="modal-footer">
      <button
        type="submit"
        class="btn btn-outline-success"
        [disabled]="formulario.invalid"
      >
        Salvar
      </button>

      <button
        type="button"
        class="btn btn-outline-secondary"
        (click)="bsModalRef.hide()"
      >
        Fechar
      </button>
    </div>
  </form>
</div>
